<h1>Productos agregados a la fecha</h1>

{{#each products}}
    <div>
        <p>Título: {{this.title}} Descripción: {{this.description}} Precio: {{this.price}} Código: {{this.code}} Stock: {{this.stock}} Categoría: {{this.category}} Estado: {{this.status}} Id: {{this.id}}</p>
    </div>
{{/each}}
