<h1>Productos agregados a la fecha</h1>

{{#each products}}
    <div>
        <p>Title: {{this.title}} Descripción: {{this.description}} Price: {{this.price}} Code: {{this.code}} Stock: {{this.stock}} Category: {{this.category}} Thumbnail: {{this.thumbnail}} Status: {{this.status}} Id: {{this.id}}</p>
    </div>
{{/each}}
