<h1>Productos agregados a la fecha</h1>
    <div id="parrafosProductos">
        {{#each products}}
            <div>
                <p>Título: {{this.title}} Descripción: {{this.description}} Precio: {{this.price}} Código: {{this.code}} Stock: {{this.stock}} Categoría: {{this.category}} Estado: {{this.status}} Id: {{this.id}}</p>
            </div>
        {{/each}}
    </div>

<h2>Crear Nuevo Producto</h2>
    <form id="idForm">
        <label for="title">Título</label>
        <input type="text" required name="title">
        <label for="description">Descripción</label>
        <input type="text" required name="description">
        <label for="category">Categoría</label>
        <input type="text" required name="category">
        <label for="price">Precio</label>
        <input type="number" required name="price">
        <label for="stock">Stock</label>
        <input type="number" required name="stock">
        <label for="code">Código</label>
        <input type="text" required name="code">
        <button type="submit">Enviar</button>
    </form><br><br>


