<h1>Productos agregados a la fecha</h1>

{{#each products}}
    <div>
        <p>Título: {{title}} Descripción: {{description}} Precio: {{price}} Código: {{code}} Stock: {{stock}} Categoría: {{category}} Estado: {{status}} Id: {{_id}}</p>
    </div>
{{/each}}
